<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <!-- <student-Details  my-title="Hello AJS Application"></student-Details>-->

     <ui-view></ui-view>

    <div ng-controller="MyCtrl">
             <!--  <student-Details  my-list="students" my-title="Students AJS Application"></student-Details>-->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Seniority</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stu in students" >
                <td>
                    {{stu.name | customName}}
                </td>
                <td> 
                    {{stu.age}}
                </td>
                <td>
                {{stu.seniority}}
                </td>
                <td>
                    <button ng-click="onViewBtnClick(stu)">view Details</button>
                </td>
            </tr>
        </tbody>
    </table>

   <!-- <div ng-show="selectedStudent">
        <h2>Student Details</h2>
        <p>Name:{{selectedStudent.name}} </p>
        <p>Age :{{selectedStudent.age}}</p>
    </div>-->

    <student-Details  current-student="selectedStudent" my-title="Student Details"></student-Details>
    <button ng-click="onBtnClick($event)">Button1</button>
    <button ng-click="onAnotherBtnClick($event)">Button2</button>

    </div>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="app.service.js"></script>
    <script src="appfilter.js"></script>
    <script src="app.component.js"></script>
    <script src="angular-ui-router.js"></script>
</body>
</html>